---
import "@fontsource/inter/variable.css";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const title = "ПРОМЫШЛЕННЫЙ АЛЬПИНИЗМ | ВЫСОТНЫЕ РАБОТЫ в Ульяновске";
const description = "Услуги промышленных альпинистов в Ульяновске. ";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header client:load />
    <Splash client:load />
    <div class="space-y-24 px-8 py-32">
      <Intro client:visible />
      <Features client:visible />
      <Compatibility client:visible />
      <Showcase client:visible />
      <div class="-mx-6 my-6">
        <div class="astro-TPUDEAZ7 group flex overflow-hidden">
          <div
            class="marquee astro-TPUDEAZ7 shrink-0"
            data-marquee=""
            style="animation-duration: 115.2s;"
          >
            <ul class="flex gap-2 pr-2">
              <li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/react-logomark">
                  <use
                    xlink:href="#astroicon:logos/react-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/preact-logomark">
                  <use
                    xlink:href="#astroicon:logos/preact-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/svelte-logomark">
                  <use
                    xlink:href="#astroicon:logos/svelte-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/vue-logomark">
                  <use
                    xlink:href="#astroicon:logos/vue-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/lit-logomark">
                  <use
                    xlink:href="#astroicon:logos/lit-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/solid-logomark">
                  <use
                    xlink:href="#astroicon:logos/solid-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/tailwind-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/tailwind-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/alpinejs-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/alpinejs-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/react-logomark">
                  <use
                    xlink:href="#astroicon:logos/react-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/preact-logomark">
                  <use
                    xlink:href="#astroicon:logos/preact-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/svelte-logomark">
                  <use
                    xlink:href="#astroicon:logos/svelte-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/vue-logomark">
                  <use
                    xlink:href="#astroicon:logos/vue-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/lit-logomark">
                  <use
                    xlink:href="#astroicon:logos/lit-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/solid-logomark">
                  <use
                    xlink:href="#astroicon:logos/solid-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/tailwind-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/tailwind-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/alpinejs-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/alpinejs-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li>
            </ul>
          </div><div
            class="marquee astro-TPUDEAZ7 shrink-0"
            aria-hidden="true"
            data-marquee=""
            style="animation-duration: 115.2s;"
          >
            <ul class="flex gap-2 pr-2">
              <li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/react-logomark">
                  <use
                    xlink:href="#astroicon:logos/react-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/preact-logomark">
                  <use
                    xlink:href="#astroicon:logos/preact-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/svelte-logomark">
                  <use
                    xlink:href="#astroicon:logos/svelte-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/vue-logomark">
                  <use
                    xlink:href="#astroicon:logos/vue-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/lit-logomark">
                  <use
                    xlink:href="#astroicon:logos/lit-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/solid-logomark">
                  <use
                    xlink:href="#astroicon:logos/solid-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/tailwind-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/tailwind-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/alpinejs-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/alpinejs-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/react-logomark">
                  <use
                    xlink:href="#astroicon:logos/react-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/preact-logomark">
                  <use
                    xlink:href="#astroicon:logos/preact-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/svelte-logomark">
                  <use
                    xlink:href="#astroicon:logos/svelte-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/vue-logomark">
                  <use
                    xlink:href="#astroicon:logos/vue-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/lit-logomark">
                  <use
                    xlink:href="#astroicon:logos/lit-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/solid-logomark">
                  <use
                    xlink:href="#astroicon:logos/solid-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/tailwind-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/tailwind-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/alpinejs-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/alpinejs-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li>
            </ul>
          </div><div
            class="marquee astro-TPUDEAZ7 shrink-0"
            aria-hidden="true"
            data-marquee=""
            style="animation-duration: 115.2s;"
          >
            <ul class="flex gap-2 pr-2">
              <li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/react-logomark">
                  <use
                    xlink:href="#astroicon:logos/react-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/preact-logomark">
                  <use
                    xlink:href="#astroicon:logos/preact-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/svelte-logomark">
                  <use
                    xlink:href="#astroicon:logos/svelte-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/vue-logomark">
                  <use
                    xlink:href="#astroicon:logos/vue-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/lit-logomark">
                  <use
                    xlink:href="#astroicon:logos/lit-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/solid-logomark">
                  <use
                    xlink:href="#astroicon:logos/solid-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/tailwind-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/tailwind-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/alpinejs-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/alpinejs-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/react-logomark">
                  <use
                    xlink:href="#astroicon:logos/react-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/preact-logomark">
                  <use
                    xlink:href="#astroicon:logos/preact-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/svelte-logomark">
                  <use
                    xlink:href="#astroicon:logos/svelte-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/vue-logomark">
                  <use
                    xlink:href="#astroicon:logos/vue-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/lit-logomark">
                  <use
                    xlink:href="#astroicon:logos/lit-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg width="32" height="32" astro-icon="logos/solid-logomark">
                  <use
                    xlink:href="#astroicon:logos/solid-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/tailwind-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/tailwind-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li><li
                class="s-16 flex items-center justify-center rounded-full bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  astro-icon="logos/alpinejs-logomark"
                >
                  <use
                    xlink:href="#astroicon:logos/alpinejs-logomark"
                    width="32"
                    height="32"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <Footer client:visible />
  </body>
</html>
