---
import ContentSection from "~/components/content-section.astro";
import FourImageBlock from "~/components/fourImageBlock.astro";
import { Picture, Image } from "@astrojs/image/components";
import type { FeatureItem } from "~/types";
import caseOne from "~/assets/case1.jpg";
import caseTwo from "~/assets/case2.jpg";
import caseThree from "~/assets/case3.jpg";
import caseFour from "~/assets/case4.jpg";

const widths = [400, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";

const features: Array<FeatureItem> = [
  {
    quantity: "11",
    title: "лет опыта высотных работ",
    description: "Работаем качественно, быстро, а главное безопасно",
  },
  {
    quantity: "100%",
    title: "Соблюдение правил техники безопасности",
    description:
      "Все наши промышленные альпинисты являются сертифицированными специалистами",
  },
  {
    quantity: "6",
    title: "Альпинистов",
    description:
      "Выполняем любой поставленный объем работ качественно и в срок",
  },
  {
    quantity: "100%",
    title: "Гарантируем соблюдение сроков",
    description:
      "Адекватная оценка объемов работ нашими специалистами позволяет выполнять работы в срок",
  },
  {
    quantity: "0",
    title: "Бесплатный выезд специалиста",
    description:
      "Наш сотрудник проконсультирует Вас относительно предстоящих работ, оценив их объем и стоимость",
  },
  {
    quantity: "1200",
    title: "Выполненных объектов",
    description:
      "Множество довольных заказчиков являются гарантом качества выполненных нами работ",
  },
];
---

<ContentSection title="Наши преимущества" id="features">
  <Fragment slot="lead">Что вы получаете, выбирая нас?</Fragment>
  <div
    class="mx-auto grid max-w-6xl grid-cols-1 items-center gap-6 md:grid-cols-2 md:gap-10 lg:grid-cols-3"
  >
    {
      features.map(({ title, description, quantity }) => (
        <div class="text-center">
          <div class="mt-2 sm:mt-6">
            <p class="gradientText mt-2 text-4xl font-bold text-blue-500 sm:mt-3 sm:text-6xl">
              {quantity}
            </p>
            <p class="text-sm font-semibold text-gray-800 dark:text-gray-200 sm:text-xl">
              {title}
            </p>
            <p class="text-gray-600 dark:text-gray-400">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
  <!-- Grid -->
  <div
    class="mt-20 grid max-w-7xl grid-cols-12 items-center gap-x-4 sm:gap-x-6 lg:gap-x-8"
  >
    <div class="col-span-4 md:col-span-3">
      <Picture
        class="w-56 rounded-3xl shadow-lg md:w-56"
        src={caseOne}
        widths={widths}
        sizes={sizes}
        alt={`монтаж металлоконструкций`}
      />
    </div>
    <!-- End Col -->

    <div class="col-span-4 md:col-span-3">
      <Picture
        class="w-56 rounded-3xl shadow-lg md:w-56"
        src={caseTwo}
        widths={widths}
        sizes={sizes}
        alt={`ремонт элеваторов`}
      />
    </div>
    <!-- End Col -->

    <div class="col-span-4 md:col-span-3">
      <Picture
        class="w-56 rounded-3xl shadow-lg md:w-56"
        src={caseThree}
        widths={widths}
        sizes={sizes}
        alt={`высотные работы`}
      />
    </div>
    <!-- End Col -->

    <div class="col-span-4 md:col-span-3">
      <Picture
        class="w-56 rounded-3xl shadow-lg md:w-56"
        src={caseFour}
        widths={widths}
        sizes={sizes}
        alt={`фасадные работы`}
      />
    </div>
    <!-- End Col -->
  </div>

  <!-- End Grid -->
</ContentSection>
