---
import { Picture } from "@astrojs/image/components";

import sosulky from "~/assets/ochistka-krysh-ot-sosulek.jpg";
import remontFasada from "~/assets/Remont-fasadov-1.jpg";
import pokraskaFasada from "~/assets/pokraska-fasada.jpg";
import germetShvov from "~/assets/germetizaciya-shvov.jpg";

const widths = [200, 400];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<section
  id="intro"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div
    class="py-26 relative mx-auto max-w-screen-xl p-4 px-4 sm:px-6 lg:mt-20 lg:px-8"
  >
    <div class="relative">
      <div
        class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:items-center lg:gap-8"
      >
        <div class="ml-auto lg:col-start-2 lg:max-w-2xl">
          <h2 class="gradientText mb-10 font-extrabold tracking-tight text-5xl">
            Высотные работы
          </h2>
          <p class="max-w-xl font-extrabold text-2xl">
            Мы квалифицированные специалисты и имеем лицензию для работ на
            высоте.
          </p>
          <p class="mt-4 leading-6 text-gray-500 text-lg">
            Выполняем все виды услуг промышленного альпинизма и высотных работ:
          </p>
          <!-- <Badges /> -->
        </div>
        <div class="relative-20 relative mt-10 lg:col-start-1 lg:-mx-4 lg:mt-0">
          <div class="relative space-y-4">
            <div
              class="flex items-end justify-center space-x-4 lg:justify-start"
            >
              <Picture
                class="w-32 rounded-3xl shadow-lg md:w-56"
                src={pokraskaFasada}
                widths={widths}
                sizes={sizes}
                alt={`покраска фасада`}
              />
              <Picture
                class="w-40 rounded-3xl shadow-lg md:w-64"
                src={sosulky}
                widths={widths}
                sizes={sizes}
                alt={`Очистка крыш от сосулек`}
              />
            </div>
            <div
              class="ml-12 flex items-start justify-center space-x-4 lg:justify-start"
            >
              <Picture
                class="w-24 rounded-3xl shadow-lg md:w-40"
                src={remontFasada}
                widths={widths}
                sizes={sizes}
                alt={`ремонт фасада`}
              />
              <Picture
                class="w-32 rounded-3xl shadow-lg md:w-56"
                src={germetShvov}
                widths={widths}
                sizes={sizes}
                alt={`герметизация швов`}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
