---
import { Icon } from "astro-icon";
import type { ServiceItem } from "~/types";

const services: Array<ServiceItem> = [
  {
    title: "Ремонт швов",
    description: "Ремонт и утепление межпанельных швов",
    icon: "ri:layout-right-fill",
    price: "от 250 руб.",
    href: "/",
  },
  {
    title: "Утепление стен снаружи",
    description: "Наружное утепление стен пеноплексом",
    icon: "mdi:animation",
    price: "от 825 руб.",
    href: "/",
  },
  {
    title: "Герметизация балконов",
    description: "Герметизация окон и балконов",
    icon: "mdi:balcony",
    price: "от 2000 руб.",
    href: "/",
  },
  {
    title: "Мойка фасадов зданий",
    description: "Фасады и витражи. Окна и балконы",
    icon: "entypo:bucket",
    price: "от 70 руб.",
    href: "/",
  },
  {
    title: "Уборка снега с крыш",
    description: "Очистка кровли от снега, наледи и сосулек",
    icon: "bi:snow2",
    price: "от 50 руб.",
    href: "/",
  },
  {
    title: "Фасадные работы",
    description: "Покраска, штукатурка, гидрофобизация",
    icon: "tabler:building-community",
    price: "от 70 руб.",
    href: "/",
  },
  {
    title: "Кровельные работы",
    description: "Наплавляемая кровля, скатная кровля",
    icon: "map:roofing-contractor",
    price: "от 540 руб.",
    href: "/",
  },
  {
    title: "Покраска металлоконструкций",
    description: "Фермы, АМС, ЛЭП, резервуары и т.п.",
    icon: "ri:paint-brush-fill",
    price: "от 80 руб.",
    href: "/",
  },
  {
    title: "Монтаж металлоконструкций",
    description: "Фермы, мачты, газходы. Изготовление и...",
    icon: "mdi:tower-fire",
    price: "от 18500 руб.",
    href: "/",
  },
  {
    title: "Наружная реклама",
    description: "Монтаж баннеров, рекламных конструкций",
    icon: "mdi:billboard",
    price: "от 150 руб.",
    href: "/",
  },
  {
    title: "Такелажные работы",
    description: "Монтаж оборудования, подъем грузов и...",
    icon: "mdi:elevator-up",
    price: "от 85 руб./кг",
    href: "/",
  },
  {
    title: "Монтажные высотные работы",
    description: "Монтаж оборудования на высоте",
    icon: "mdi:account-hard-hat",
    price: "от 7700 руб.",
    href: "/",
  },
];
---

<section
  id="services"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <h2 class="gradientText text-center font-extrabold tracking-tight text-5xl">
    Наши услуги
  </h2>
  <div class="max-w-8xl mx-auto px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <div
      class="grid items-center gap-6 sm:grid-cols-2 md:gap-10 lg:grid-cols-3"
    >
      {
        services.map(({ title, description, icon, price, href }) => (
          <a
            href={href}
            class="h-full w-full rounded-3xl bg-white p-5 shadow-lg hover:shadow-2xl"
          >
            <div class="mb-3 flex items-center gap-x-4">
              <div class="inline-flex h-[82px] w-[82px] items-center justify-center rounded-full border-4 border-sky-100 bg-gradient-to-br from-sky-700 via-cyan-700 to-teal-700">
                <Icon
                  class="h-9 w-9 text-sky-100 duration-200 hover:scale-150"
                  name={icon}
                />
              </div>
              <div class="max-w-24">
                <h3 class="text-md block font-semibold text-gray-800 dark:text-white">
                  {title}
                </h3>
                <p class="text-xs text-gray-600 dark:text-gray-400">{price}</p>
              </div>
            </div>
            <p class="text-gray-600 dark:text-gray-400">{description}</p>
          </a>
        ))
      }
    </div>
  </div>
</section>
